
.main{
    background-color: white;
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.form{
    background-color: #F7F6FC;
    box-shadow: 0px 0px 8px 8px rgba(223, 223, 223, 0.6) 
}